:root {
    --width-mobile: min(100vw, calc(100svh * 9 / 16));

    --color-background-window: #292929;

    --color-primary: #ff3d3d;
    --color-secondary: #ff8484;

    --color-background: #ffffff;
    /* --color-surface: #f5f5f5; */

    --color-text: #212121;
    /* --color-text-secondary: #757575; */

    --color-success: #4caf50;
    --color-warning: #ff9800;
    --color-error: #f44336;


    /* --color-border: #dddddd; */
}